@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

html, body {
  height: 100%;
  width: 100%;
}

.deco-none {
  color:#000000 !important;
  text-decoration:none;
}

.deco-none:hover {
  text-decoration:none;
}

.cameraInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}